
{% extends 'base1.html' %}
{% load static %}



{% block content %}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
       
        
        <div class="form-head d-md-flex mb-sm-4 mb-3 align-items-start">
            <div class="me-auto  d-lg-block">
                <h2 class="text-black font-w600">Dashboard</h2>
                <p class="mb-0">Welcome to Car Rental Agency</p>
            </div>
            
            <a href="{% url 'admin_home' %}"class="btn btn-primary rounded light me-3">Refresh</a>
            
        </div>
        {% include 'includes/messages.html' %}
        {% block custom_js %}
  <script></script>
  {% endblock custom_js %}


{% endblock  %}
